<!DOCTYPE html>
<html>
  <head>
    <title>Koi: Get Learning</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if user_signed_in?%>
         <%= render 'layouts/navigation'  %>
    <%end%>

    <div id="main-content">

      <%= render "layouts/notification" if notice || alert %>

      <%= yield %>

    </div>
    <%= render 'layouts/footer'%>

  </body>
</html>
